<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="pms-dqa-app">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="jboss-seam-2.2.2.Final_P2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam/2.2.2.Final_P2/jboss-seam-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-dqa-ejb-1.4.0-SNAPSHOT.jar" deploy-path="/" handle="module:/resource/pms-dqa-ejb/pms-dqa-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-dqa-web-1.4.0-SNAPSHOT.war" deploy-path="/" handle="module:/resource/pms-dqa-web/pms-dqa-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-seam-excel-2.2.2.Final_P2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam-excel/2.2.2.Final_P2/jboss-seam-excel-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jxl-2.6.8-seam.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sourceforge/jexcelapi/jxl/2.6.8-seam/jxl-2.6.8-seam.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xpp3_min-1.1.3.4.O.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/xpp3/xpp3_min/1.1.3.4.O/xpp3_min-1.1.3.4.O.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-seam-ui-2.2.2.Final_P2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam-ui/2.2.2.Final_P2/jboss-seam-ui-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-seam-jul-2.2.2.Final_P2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/seam/jboss-seam-jul/2.2.2.Final_P2/jboss-seam-jul-2.2.2.Final_P2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.8.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.8.0/commons-beanutils-1.8.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-facelets-1.1.15.B1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/sun/facelets/jsf-facelets/1.1.15.B1/jsf-facelets-1.1.15.B1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jbpm-jpdl-3.2.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jbpm/jbpm-jpdl/3.2.2/jbpm-jpdl-3.2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-logging-1.1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-logging/commons-logging/1.1.1/commons-logging-1.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="bsh-2.0b4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/beanshell/bsh/2.0b4/bsh-2.0b4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-core-3.3.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-core/3.3.1.GA/hibernate-core-3.3.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dom4j-1.6.1-brew.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/dom4j/dom4j/1.6.1-brew/dom4j-1.6.1-brew.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jta-1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/transaction/jta/1.1/jta-1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="cglib-nodep-2.1_3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/cglib/cglib-nodep/2.1_3/cglib-nodep-2.1_3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="antlr-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/antlr/antlr/2.7.6/antlr-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="granite-core-2.2.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/graniteds/granite-core/2.2.1.GA/granite-core-2.2.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="granite-seam21-2.2.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/graniteds/granite-seam21/2.2.1.GA/granite-seam21-2.2.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="granite-eclipselink-2.2.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/graniteds/granite-eclipselink/2.2.1.GA/granite-eclipselink-2.2.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="granite-hibernate-2.2.1.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/graniteds/granite-hibernate/2.2.1.GA/granite-hibernate-2.2.1.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-core-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-core/2.7.6/fmk-pms-core-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsf-api-1.2_12.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/faces/jsf-api/1.2_12/jsf-api-1.2_12.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-validator-3.1.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-validator/3.1.0.GA/hibernate-validator-3.1.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-commons-annotations-3.1.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/hibernate/hibernate-commons-annotations/3.1.0.GA/hibernate-commons-annotations-3.1.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.4.2/slf4j-api-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javassist-3.12.0.GA.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javassist/javassist/3.12.0.GA/javassist-3.12.0.GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-el-1.0_02.CR5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/jboss/el/jboss-el/1.0_02.CR5/jboss-el-1.0_02.CR5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="el-api-1.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/javax/el/el-api/1.0/el-api-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang-2.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-lang/commons-lang/2.1/commons-lang-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-codec-1.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-codec/commons-codec/1.2/commons-codec-1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-log4j12-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-log4j12/1.4.2/slf4j-log4j12-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.14.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.14/log4j-1.2.14.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dbunit-2.4.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/dbunit/dbunit/2.4.7/dbunit-2.4.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="junit-3.8.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/junit/junit/3.8.2/junit-3.8.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections-3.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-collections/commons-collections/3.2/commons-collections-3.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="csvreader-2.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/csvreader/csvreader/2.1/csvreader-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-util-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-util/2.7.6/fmk-pms-util-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-audit-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-audit/2.7.6/fmk-pms-audit-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="flexjson-2.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/flexjson/flexjson/2.0/flexjson-2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-core-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-core/5.0.1/drools-core-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mvel2-2.0.10.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/mvel/mvel2/2.0.10/mvel2-2.0.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-api-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-api/5.0.1/drools-api-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="joda-time-1.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/joda-time/joda-time/1.6/joda-time-1.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="drools-compiler-5.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/drools/drools-compiler/5.0.1/drools-compiler-5.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="antlr-runtime-3.1.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/antlr/antlr-runtime/3.1.1/antlr-runtime-3.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="core-3.4.2.v_883_R34x.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/eclipse/jdt/core/3.4.2.v_883_R34x/core-3.4.2.v_883_R34x.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="janino-2.5.15.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/janino/janino/2.5.15/janino-2.5.15.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-report-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-report/2.7.6/fmk-pms-report-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-io-1.4.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-io/commons-io/1.4/commons-io-1.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="groovy-all-1.7.5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/codehaus/groovy/groovy-all/1.7.5/groovy-all-1.7.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jasperreports-4.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/jasperreports/jasperreports/4.0.1/jasperreports-4.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-digester-1.7.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-digester/commons-digester/1.7/commons-digester-1.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="itext-2.1.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/lowagie/itext/2.1.2/itext-2.1.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jcommon-1.0.15.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/jfree/jcommon/1.0.15/jcommon-1.0.15.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jfreechart-1.0.13.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/jfree/jfreechart/1.0.13/jfreechart-1.0.13.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xml-apis-1.3.02.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/xml-apis/xml-apis/1.3.02/xml-apis-1.3.02.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-3.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/apache/poi/poi/3.6/poi-3.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="fmk-pms-remote-2.7.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/fmk/pms/fmk-pms-remote/2.7.6/fmk-pms-remote-2.7.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xstream-1.4.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/thoughtworks/xstream/xstream/1.4.2/xstream-1.4.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlpull-1.1.3.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/xmlpull/xmlpull/1.1.3.1/xmlpull-1.1.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-jms-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-jms/2.5.6/spring-jms-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-pool-1.3.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-pool/commons-pool/1.3/commons-pool-1.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-beans-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-beans/2.5.6/spring-beans-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context/2.5.6/spring-context-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-context-support-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-context-support/2.5.6/spring-context-support-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-core-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-core/2.5.6/spring-core-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-tx-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-tx/2.5.6/spring-tx-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="spring-aop-2.5.6.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/springframework/spring-aop/2.5.6/spring-aop-2.5.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aopalliance-1.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/aopalliance/aopalliance/1.0/aopalliance-1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="openid4java-consumer-0.9.5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/openid4java/openid4java-consumer/0.9.5/openid4java-consumer-0.9.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="openid4java-nodeps-0.9.5.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/org/openid4java/openid4java-nodeps/0.9.5/openid4java-nodeps-0.9.5.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-httpclient-3.0.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/commons-httpclient/commons-httpclient/3.0.1/commons-httpclient-3.0.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-asa-ejb-1.0.1.1-client.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/pms/asa/pms-asa-ejb/1.0.1.1/pms-asa-ejb-1.0.1.1-client.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="pms-dms-ejb-1.3.1.14-client.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/hk/org/ha/pms/dms/pms-dms-ejb/1.3.1.14/pms-dms-ejb-1.3.1.14-client.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="edtftpj-2.2.2.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/enterprisedt/net/edtftpj/2.2.2/edtftpj-2.2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="opencsv-2.1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/net/sf/opencsv/opencsv/2.1/opencsv-2.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ojdbc14-10.2.0.4.0.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/oracle/ojdbc14/10.2.0.4.0/ojdbc14-10.2.0.4.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jsch-0.1.44-1.jar" deploy-path="/lib" handle="module:/classpath/var/M2_REPO/com/jcraft/jsch/0.1.44-1/jsch-0.1.44-1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
