<e:workbook exportKey="BatchSuspQtyReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Fax Summary Report" value="#{batchSuspListService.batchSuspQtyRptList}"
		var="batchSuspQtyRpt" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="PCU" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.pcuCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Institution" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.inst}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case Number" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.caseNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.itemCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.itemDesc}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Classification" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.classification}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch Number" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.batchNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Quantity On Hand" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.qtyOnHand}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Update Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{batchSuspQtyRpt.updateDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
	</e:worksheet>
</e:workbook>