<e:workbook exportKey="FaxSummaryReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Fax Summary Report" value="#{qaProblemListService.faxSummaryRptList}"
		var="faxSummaryRpt" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case Status" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.caseStatus}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case Number" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.caseNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Classification" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.classification}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.itemCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.itemDesc}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Order Type" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.orderType}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.supplier}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.manuf}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharmaceutical Company" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.pharmCom}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Problem Detail" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.problemDetail}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Initial Correspondence to Hospital Date" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.lastInitHospDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Initial Correspondence to Hospital Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.initHospCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Initial Correspondence to Supplier Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.lastInitSuppDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Initial Correspondence to Supplier Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.initSuppCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Interim Correspondence to Hospital Date" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.lastInterimHospDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Interim Correspondence to Hospital Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.interimHospCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Interim Correspondence to Supplier Date" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.lastInterimSuppDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Interim Correspondence to Supplier Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.interimSuppCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Final Correspondence to Hospital Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.lastFinalHospDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Final Correspondence to Hospital Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.finalHospCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Last Final Correspondence to Supplier Date" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.lastFinalSuppDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Final Correspondence to Supplier Count" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{faxSummaryRpt.finalSuppCount}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case Create Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{faxSummaryRpt.caseCreateDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
	</e:worksheet>
</e:workbook>