<e:workbook exportKey="MissingBatchCoaReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Missing Batch COA Report" value="#{missingBatchCoaRptService.missingBatchCoaRptList}"
		var="missingBatchCoaRptData" startColumn="0" startRow="4">
		
		<!-- Header -->
		<e:cell column="0" row="0" value="Report"/>
		<e:cell column="1" row="0" value="#{missingBatchCoaRptService.reportName}"/>
		<e:cell column="0" row="1" value="Parameters"/>
		<e:cell column="1" row="1" value="#{missingBatchCoaRptService.reportParameters}"/>
		<e:cell column="0" row="2" value="Retrieve Date"/>
		<e:cell column="1" row="2" value="#{missingBatchCoaRptService.retrieveDate}"/>
		
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Contract No." style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.contractNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column  style="xls-column-width: 3072">
			<f:facet name="header">
				<e:cell value="Order Type" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.orderType}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.itemCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.itemDesc}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.supplierCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer Code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.manufacturerCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharmaceutical Company Code" style="xls-font: blue bold" />
			</f:facet>
			<e:cell value="#{missingBatchCoaRptData.pharmCompanyCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="COA Item Create Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.createDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Contract Start Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.startDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Contract End Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.endDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Latest Batch COA Receive Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{missingBatchCoaRptData.latestBatchCoaReceiveDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
	</e:worksheet>
</e:workbook>