<e:workbook exportKey="SampleTestReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Sample Testing Inventory Report" value="#{sampleTestRptService.sampleTestInventoryList}"
		var="SampleTestInventory" startColumn="0" startRow="0">
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Inventory Date" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.invDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9" forceType="date"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.itemCode}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.itemDesc}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.test}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Base Unit" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.baseUnit}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Movement Quantity" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.movementQty}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="CDP" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.cdp}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Location" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.location}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch Number" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.batchNum}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Expiry Date" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.expiryDate}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Order Type" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.orderType}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.supplier}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.manufacturer}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharmaceutical Company" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.pharmCompany}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Schedule Number" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.scheduleNum}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Adjustment Flag" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.adjustFlag}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Adjustment Reason" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventory.adjustReason}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>
