<e:workbook exportKey="SampleTestStockOnhandReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Sample Testing Inventory Report" value="#{sampleTestStockOnhandRptService.sampleTestInventoryStockOnhandList}"
		var="SampleTestInventoryStockOnhand" startColumn="0" startRow="0">
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventoryStockOnhand.itemCode}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventoryStockOnhand.itemDesc}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Stock Onhand Quantity" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventoryStockOnhand.onHandQty}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Base Unit" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventoryStockOnhand.baseUnit}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Special Category" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestInventoryStockOnhand.specialCat}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
	</e:worksheet>
</e:workbook>
