<e:workbook exportKey="ScheduleEnquiryByCriteriaAllReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Schedule Enquiry Report" value="#{sampleTestScheduleListService.sampleTestScheduleTestResultList}"
		var="SampleTestScheduleTestResult" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Schedule Month" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleMonth}" style="xls-column-autosize: true; xls-format-mask: YYYY-MMM; xls-font-size: 9" forceType="date"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Schedule Number" style="xls-column-autosize: true; xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleNum}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Schedule Status" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleStatus}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Schedule Confirm Date" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleConfirmDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">				
				<e:cell value="Schedule Start Date" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleStartDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Code" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Record Status" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.recordStatus}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cancel Reason" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.cancelReason}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemCode}" style="xls-column-autosize: true; xls-font-size: 9" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemDesc}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Base Unit" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.baseUnit}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Order Type" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.orderType}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Contract Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.contractNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pack Size" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.packSize}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pack Price" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.packPrice}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Currency Code" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.currencyCode}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.batchNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Expiry Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.expiryDate}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Request Quantity" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.reqQty}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Receive Quantity" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.recQty}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Lab Collection Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.labCollectNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Lab Collection Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.labCollectDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
				<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Result" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testResult}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Result Description" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.testResultDesc}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testReportDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Price" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testPrice}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Reference Drug Cost" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.refDrugCost}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Institution Code" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.institutionCode}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier Code" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.supplierCode}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer Code" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.manufCode}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Lab Code" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.labCode}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Raw Material" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.rawMaterial}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Validation Report" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.validationRpt}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Validation Report Validity Flag" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.validationRptValidityFlag}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Micro Test Parameter" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.microTestParam}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Micro National Pharm Standard" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.microNationalPharmStd}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Accept Criteria" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.acceptCriteria}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Accept Criteria Description" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.acceptCriteriaDesc}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Specification" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.specification}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="MOA" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.moa}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="FPS" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.fps}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Reference Standard" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.refStd}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Reference Standard Required Flag" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.refStdReqFlag}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Retention Quantity" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.retentionQty}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Chem National Pharm Standard" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.chemNationalPharmStd}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Chem Tests" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.chemTest}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Tests Description" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.chemTestDesc}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="PO Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.poNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="PR Issue Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.prIssueDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cheque Amount" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.chequeAmount}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cheque Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.chequeNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cheque Receive Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.chequeReceiveDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Cheque Send Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.chequeSendDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Invoice Reference Number" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.invRefNum}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Invoice Receive Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.invReceiveDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Invoice Send Date" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.invSendDate}" forceType="date" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Payment Remark" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.paymentRemark}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
	</e:worksheet>
</e:workbook>
