<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">

<html>
    <head>
        <title>Document Service</title>
    </head>
	<body>
		<s:link action="#{documentService.openPngDocument}" 
			value="PNG Document" 
			propagation="none" target="_blank"/>
    </body>
</html>
</ui:composition>
