<e:workbook exportKey="SampleItemListReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Sample Item Report" value="#{sampleItemFrequencyRptService.sampleItemFrequencyReportList}"
		var="sampleItemFrequency" startColumn="0" startRow="7">
		
		<!-- Header  -->
		<e:mergeCells startRow="1" startColumn="0" endRow="1" endColumn="5"/>
		<e:mergeCells startRow="2" startColumn="0" endRow="2" endColumn="5"/>
		<e:mergeCells startRow="3" startColumn="0" endRow="3" endColumn="5"/>
		<e:mergeCells startRow="4" startColumn="0" endRow="4" endColumn="5"/>
		<e:mergeCells startRow="5" startColumn="0" endRow="5" endColumn="5"/>
		<e:cell style="xls-font-size: 11" column="0" row="1" value="Notes:"/>
		<e:cell style="xls-font-size: 11" column="0" row="2" value="1 All quantities quoted are subject to final confirmation with the laboratories."/>
		<e:cell style="xls-font-size: 11" column="0" row="3" value="2 The quantities quoted reflect the number of the smallest single pack required or the total weight of the dosage units required including both the active and inactive ingredients."/> 
		<e:cell style="xls-font-size: 11" column="0" row="4" value="3 A quantity of 30g is required for oral dosage forms containing raw materials of natural  (animal, vegetal or mineral) origin for which antimicrobial pretreatment is not feasible."/> 
		<e:cell style="xls-font-size: 11" column="0" row="5" value="4 Submission of samples for validation test is required when validation reports cannot be provided by suppliers."/>
		<!-- Data  -->
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.itemCode}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-column-autosize: true; xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{sampleItemFrequency.itemDesc}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Chemical Analysis Test Frequency" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.chemAnalysisFreq}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Quantity per Chemical Analysis Test (Note 1)" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.chemAnaylsisQtyReq}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">				
				<e:cell value="Microbiological Test Frequency" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.microBioTestFreq}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Quantity per Microbiological Test (Note 1-3)" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.microBioTestQtyReq}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Quantity for Validation Test (Note 1-4)" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{sampleItemFrequency.validTestQtyReq}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
			<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Update On" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{sampleItemFrequency.updateDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9" forceType="date"/>
		</e:column>
	</e:worksheet>
</e:workbook>