<e:workbook exportKey="ScheduleEnquiryByCriteriaReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Schedule Enquiry Report" value="#{sampleTestScheduleListService.sampleTestScheduleTestResultList}"
		var="SampleTestScheduleTestResult" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Test Result Date" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testResultDate}" style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY; xls-font-size: 9" forceType="date"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-column-autosize: true; xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemDesc}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">				
				<e:cell value="Supplier" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.supplierCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.manufCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharmaceutical Company" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.pharmCompanyCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
			<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Result" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.testResult}" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
	</e:worksheet>
</e:workbook>
