<e:workbook exportKey="AuditReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core">
	<e:worksheet name="Audit Report" value="#{auditRptService.auditRptList}"
		var="auditRpt" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case no." style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.caseNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Institution code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.institutionCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Institution name" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.institutionName}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Reporting department" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.department}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Initial reporting by" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.reportedBy}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Report Date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.reportDate}"  style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date"  />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.itemCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item description" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.itemDescription}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Quantity with problem" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.quantityWithProblem}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.supplierCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Supplier name" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.supplierName}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.manufacturerCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Manufacturer name" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.manufacturerName}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharm company code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.pharmCompanyCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Pharm company name" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.pharmCompanyName}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		
		
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch no." style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.batchNum}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Category" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.category}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Nature of problem" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.natureOfProblem}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Problem detail" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.problemDetail}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="How discovered" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.howDiscovered}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Assessment of the problem" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.assessmentOfProblem}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Immediate action taken" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.immediateActionTaken}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Risk index" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.riskIndex}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Follow up action" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.followUpAction}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Investigation report from" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.investigationReport}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="No further action required" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.noFurtherActionRequiredFlag}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch can be released" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.batchCanBeReleasedFlag}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Stock replacement" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.stockReplacementFlag}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Others" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.others}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Batch suspension" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.batchSuspensionFlag}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Product recall" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.productRecallFlag}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case create date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.caseCreateDate}"  style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Investigation report date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.investigationReportDate}"  style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case close date" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.caseCloseDate}"  style="xls-column-autosize: true; xls-format-mask: DD-MMM-YYYY" forceType="date" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Case status" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.caseStatus}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Country code" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.countryCode}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Country name" style="xls-font: blue bold" />
			</f:facet>	
			<e:cell value="#{auditRpt.countryName}" style="xls-column-autosize: true" forceType="text" />
		</e:column>
	</e:worksheet>
</e:workbook>