<e:workbook exportKey="ScheduleEnquiryByRecordsReport"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:e="http://jboss.com/products/seam/excel"
	xmlns:f="http://java.sun.com/jsf/core">
	<e:worksheet name="Schedule Enquiry Report" value="#{sampleTestScheduleListService.sampleTestScheduleTestResultList}"
		var="SampleTestScheduleTestResult" startColumn="0" startRow="0">
		
		<!-- Data  -->
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Schedule Status" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleStatus}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Schedule Month" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleMonth}" style="xls-font-size: 9; xls-format-mask: YYYY-MMM;" forceType="text"/>
		</e:column>
		<e:column style="xls-column-width: 3584">
			<f:facet name="header">
				<e:cell value="Schedule Number" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.scheduleNum}" style="xls-font-size: 9" forceType="text"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Code" style="xls-column-autosize: true; xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemCode}" forceType="text" style="xls-column-autosize: true; xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Item Description" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.itemDesc}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testCode}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Order Type" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.orderType}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Risk Level" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.riskLevelCode}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Lab" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.labCode}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
			<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Price" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.testPrice}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">				
				<e:cell value="PR Issued Date" style="xls-font-size: 9; xls-wrap: true; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.prIssueDate}" forceType="date" style="xls-font-size: 9; xls-format-mask: DD-MMM-YYYY;"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="PO Number" style="xls-font-size: 9; xls-font: bold" />
			</f:facet>
			<e:cell value="#{SampleTestScheduleTestResult.poNum}" forceType="text" style="xls-font-size: 9"/>
		</e:column>
		<e:column style="xls-column-autosize: true">
			<f:facet name="header">
				<e:cell value="Test Result" style="xls-font-size: 9; xls-font: bold"/>
			</f:facet>
			<e:cell  value="#{SampleTestScheduleTestResult.testResult}" style="xls-font-size: 9"/>
		</e:column>
	</e:worksheet>
</e:workbook>
