<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">

<html>
    <head>
        <title>Logon</title>
		<script language="JavaScript" type="text/javascript">			
			function onLoad() {
				document.getElementById('loginForm:tfOpenidInput').value= "#{uam.serverUrl}" + "/user.jsp";	
				document.getElementById('loginForm:btnSubmit').click();
			}
		</script>
    </head>
	<body onload="onLoad()">       
		<h:form id="loginForm">
			<h:inputHidden id="tfOpenidInput" value="#{uam.id}"/>
			<h:commandLink id="btnSubmit" action="#{uam.login}"/>
		</h:form>
    </body>
</html>
</ui:composition> 