@namespace mdgc "com.iwobanas.controls.dataGridClasses.*";
@namespace mdgfe "com.iwobanas.controls.dataGridClasses.filterEditors.*";

/* CSS file */
mdgfe|DropDownFilterEditor{
	border-style:		solid;
	background-alpha: 	1;
	background-color:	white;
	drop-shadow-enabled: true;
	padding-bottom:		5;
	padding-left:		5;
	padding-right:		5;
	padding-top:		5;
}

mdgc|DropDownFilterHeaderRenderer{
	padding-bottom:		0;
	padding-left:		5;
	padding-right:		0;
	padding-top:		0;
	horizontal-gap:		0;
	vertical-align:		top;
	filter-button-style-name: dataGridFilterButton;
	filter-button-active-style-name: dataGridFilterButtonActive;
}
.dataGridFilterButton{
	padding-bottom:		4;
	padding-left:		4;
	padding-right:		4;
	padding-top:		4;
	icon:				Embed("assets/icons/filter.png");
}

.dataGridFilterButtonActive{
	padding-bottom:		4;
	padding-left:		4;
	padding-right:		4;
	padding-top:		4;
	icon:				Embed("assets/icons/filter_active.png");
}
